<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>22733820659-gkpoonaq331ts7k90dd6obs0gl9pb12q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.22733820659-gkpoonaq331ts7k90dd6obs0gl9pb12q</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>22733820659-3pac4j47fvn80h0innnl1jf3t39326b2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDts5TSqZ_LJbB8ynlyyMRuBo_hX24kxJg</string>
	<key>GCM_SENDER_ID</key>
	<string>22733820659</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>neten.neten.ee</string>
	<key>PROJECT_ID</key>
	<string>netten-258f8</string>
	<key>STORAGE_BUCKET</key>
	<string>netten-258f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22733820659:ios:f49f430ab9a20740f15d86</string>
	<key>DATABASE_URL</key>
	<string>https://netten-258f8.firebaseio.com</string>
</dict>
</plist>